@font-face {
    font-family: 'KorrencyFont';
    src: url('../fonts/SF-Pro-Display-Regular.otf') format('woff2'),
         url('../fonts/SF-Pro-Display-Medium.otf') format('woff'),
         url('../fonts/SF-Pro-Display-Bold.otf') format('woff');
    /* Add additional formats if needed */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display-Bold';
    src: url('../fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display-Medium';
    src: url('../fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display-Normal';
    src: url('../fonts/SF-Pro-Display-Normal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SF-Pro-Display-Normal', sans-serif !important;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   font-family: 'SF-Pro-Display-Bold';
}



#navbar {
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.1); */
    transition: background-color 0.3s ease;
}

#navbar .navbar-nav .nav-link {
    color: #042E62;
    font-size: 0.8em;
  }

#navbar .navbar-nav .nav-link:hover {
    color: #042E62;
    background-position: 0%;
  }

  #navbar .navbar-nav .nav-item .nav-link.active {
    color: #042E62;
    border-bottom: 1px solid #042E62;
  }

  .navbar .dropdown ul {
    border: none;
    font-size: 0.8em;
    border-radius: 0;
  }

  .navbar .dropdown-toggle::after {
    content: none !important;
  }

#hero {
    background-image: url('../images/New_hero.png'); 
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h3 {
    font-size: 2em;
}

#hero p {
    font-size:large;
}

main {
    background-color: #F1F8FF;
}

#frame1 {
    background-image: url('../images/frame1_bkg.png'); 
    background-repeat: no-repeat;
    background-size: cover;
}

#frame2 {
    background-image: url('../images/frame1_bkg.png'); 
    background-repeat: no-repeat;
    background-size: cover;
}

#frame3 {
    background-image: url('../images/frame3_bkg.png'); 
    background-repeat: no-repeat;
    background-size: cover;
}

/**** --COLOURS-- ***************/
.kcolor {
    color: #042E62;
}

.off-white-bg {
    background-color: #f4f4f4 !important;
}

.off-white {
    color: #a3a3a3 !important;
}

.kbkg {
    background-color: #042E62;
}

.ktitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
}

/**** --BUTTONS-- ***************/
.kbtn-light {
    color: #f4f4f4;
}

.kbtn-full {
    width: 100%;
    font-size:small;    
}

.kbtn-full-border {
    border: 1px #123C99 solid;
}

.kbtn-white-border {
    border: 2px #ffffff solid;
    background-color: none !important;
    border-radius: 25px;
    color: white;
    font-size:small;
}

.kbtn-white-border:hover {
    border: 2px #A4C7FA solid;
    color: #A4C7FA;
}

.kbtn-blue-border {
    border: 2px #042E62 solid;
    background-color: none !important;
    border-radius: 25px;
    color: #042E62;
    font-size:small;
}

.kbtn-blue-border:hover {
    border: 2px #A4C7FA solid;
    color: #A4C7FA;
}

.kbtn {
    background: linear-gradient(90deg, #123C99 0%, #337FF1 96.67%);
    border: none;
    border-radius: 25px;
    color: white;
    font-size:small;
}

.kbtn:hover {
    background: #123C99;
    color: #FFFFFF;
}

.kbtn-dark {
    background-color: #042E62;
    border: 2px #042E62 solid;
    border-radius: 25px;
    color: white;
    font-size:small;
    transition: box-shadow 0.5s; /* Adding a transition for a smooth effect */
}

.kbtn-dark:hover {
    background-color: #042E62 !important;
    box-shadow: 0 4px 8px rgba(124, 105, 105, 0.1);
    color: #A4C7FA !important;
}

.kbtn-blank {
    background: transparent;
    border: none;
    border-radius: 25px;
    color: #123C99;
    font-size:small;
}

.kbtn-blank:hover {
    background: transparent;
    border: none;
    border-radius: 25px; 
}

.kbtn-white {
    background-color: white;
    border: none;
    border-radius: 25px;
    color: #042E62;
    font-size:small;
}

.kbtn-white:hover {
    background-color: #042E62;
    color: white;
}

.rnd-btn-case {
    background-color: #A4C7FA; 
    padding-left: 2px; padding-right: 2px;
}

.amt-input-grp {
    border-radius: 5px;
}

.amt-input-grp button,
.amt-input-grp input {
    border: none;
}

.amt-input-grp button:hover, 
.amt-input-grp button:focus {
    background-color: transparent !important;
    color: #6c757d;
}

.borderless-input {
    border: none;
    outline: none; /* Remove focus outline */
}

.phone {
    z-index: 3;
    bottom: -20px;
    left: -30px;
}

@media screen and (orientation: portrait) {
    .phone {
        display: none;
    }
}

.slide-down {
    animation: slideDown 0.9s ease-in-out forwards;
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(50px); /* Adjust the distance to slide down */
    }
  }
  

  